.DivTable {
    max-height: 70%;
    width: 100%;
    table-layout: auto;
    overflow: auto;
}

th {
    padding: 5px;
    text-align: center;
    border-bottom: gray 1px solid;
}

td {
    padding: 5px;
    border-bottom: lavender 1px solid;
}

.middleParameters {
    text-align: center;
}

#MainDivContent {
    padding: 3% 5%;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: auto;
}

.objectImages {
    height: 150px;
    margin: 5px;
    overflow-y: scroll;
}