.DivTable {
    border: black 1px solid;
    max-height: 70%;
    width: 100%;
}

.DivTable thead tr th {
    padding: 5px;
    text-align: center;
    border-bottom: gray 1px solid;
}

.DivTable tbody tr td {
    padding: 5px;
    border-bottom: lavender 1px solid;
}

.middleParameters {
    text-align: center;
}

.DivTable {
    table-layout: auto;
}

#MainDivContent {
    padding: 5% 0;
    top: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: auto;
}

.objectImages {
    height: 150px;
    margin: 5px;
    overflow-y: scroll;
}